* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.card {
  width: 300px;
  border: 1px solid black;
  margin: 10px;
}

.img-container {
  height: 200px;
  overflow: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}
